body{
    margin: 1%;
}

.title{
    text-align: center;    
}

.search{
    margin: 0 auto;
    column-count: 2;
    display: block;
}

.bar{
    align-content: center;
}

ul{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

li{
    display: inline-block;
}

.pkmnBox{
    
    border-radius: 50%;
    background-color: aliceblue;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 1);
    margin: 10px;
    padding: 20px;
}

.pkmnBox .pkmnImg{
    width: 1200px;
    height: 1200px;
}
